<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mobile">
        <activity
            android:name=".c4.C4q5"
            android:exported="false" />
        <activity
            android:name=".c4.C4q4"
            android:exported="false" />
        <activity
            android:name=".c4.C4q3"
            android:exported="false" />
        <activity
            android:name=".c4.C4q2"
            android:exported="false" />
        <activity
            android:name=".c4.C4q1"
            android:exported="false" />
        <activity
            android:name=".c3.C3q5"
            android:exported="false" />
        <activity
            android:name=".c3.C3q4"
            android:exported="false" />
        <activity
            android:name=".c3.C3q3"
            android:exported="false" />
        <activity
            android:name=".c3.C3q2"
            android:exported="false" />
        <activity
            android:name=".c3.C3q1"
            android:exported="false" />
        <activity
            android:name=".c2.C2q5"
            android:exported="false" />
        <activity
            android:name=".c2.C2q4"
            android:exported="false" />
        <activity
            android:name=".c2.C2q3"
            android:exported="false" />
        <activity
            android:name=".c2.C2q2"
            android:exported="false" />
        <activity
            android:name=".c2.C2q1"
            android:exported="false" /> <!-- Activités du chapitre 1 -->
        <activity
            android:name=".c1.C1q2"
            android:exported="false" />
        <activity
            android:name=".c1.C1q5"
            android:exported="false" />
        <activity
            android:name=".c1.C1q4"
            android:exported="false" />
        <activity
            android:name=".c1.C1q3"
            android:exported="false" />
        <activity
            android:name=".c1.C1q1"
            android:exported="false" /> <!-- ACTIVITÉ DE DÉMARRAGE (Splash ou Start) -->
        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Ton activité principale -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>